
body {
    padding: 0px;
    margin: 0px;
}

/** Google Fonts **/
html {
    font-family:"Gowun Dodum", "helvetica neue", helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Rock Salt", cursive;
}

h2, h3, h4, h5 {
    font-family: "Caladea", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 0rem;
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 0rem;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 0rem;
}


/* Responsive images. */
img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}


#main-container {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 4rem;
}

#hero {
    text-align: center;
}


/** Menu **/

.topnav {
    background-color: #c0c0c0;
    position:fixed;
    padding-left: 50px;
    top:0;
    width:100%;
    z-index:100;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}





/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #f2f2f2;
}



/*th,*/
/*td {*/
/*    text-align: left;*/
/*    padding: 0.35rem;*/
/*}*/
















/* TOC */
/*.toc_container {*/
/*    background: #f9f9f9 none repeat scroll 0 0;*/
/*    border: 1px solid #aaa;*/
/*    display: table;*/
/*    font-size: 95%;*/
/*    margin-bottom: 1em;*/
/*    padding: 20px;*/
/*    width: auto;*/
/*}*/

/*.toc_title {*/
/*    font-weight: 700;*/
/*    text-align: center;*/
/*}*/

/*.toc_container li, .toc_container ul, .toc_container ul li{*/
/*    list-style: outside none none !important;*/
/*}*/